body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: #818cf8;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
}

.connect-input {
    background-color: #263238;
    color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
}
